<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SumaDosNumerosSoap" />
        <binding name="TempConvertSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="TempConvertSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64517/SumaDosNumeros.asmx"
        binding="basicHttpBinding" bindingConfiguration="SumaDosNumerosSoap"
        contract="SumaDosNumerosReferencia.SumaDosNumerosSoap" name="SumaDosNumerosSoap" />
      <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
        binding="basicHttpBinding" bindingConfiguration="TempConvertSoap"
        contract="CelsiusReferencia.TempConvertSoap" name="TempConvertSoap" />
      <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
        binding="customBinding" bindingConfiguration="TempConvertSoap12"
        contract="CelsiusReferencia.TempConvertSoap" name="TempConvertSoap12" />
    </client>
  </system.serviceModel>
</configuration>